@charset "utf-8";
/* CSS Document */

/*Product*/
#bgbanner{
	margin-bottom: 15px;
}
#banner{
	height: 500px;
	background-color: antiquewhite;
}
#tieude{
	text-align: center;
	font-family: myheading;
}
/*=======ADDRESSBAR=====*/
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color:rgba(255,255,255,1.00);
	padding-bottom: 0px;
}

ul.breadcrumb li {
	 display: inline;
	 font-size: 25px;
	background-color: none;
}
.breadcrumb p{
	float: right;
}

ul.breadcrumb li+li:before {
	  padding: 8px;
	  color: rgba(7,22,45,0.5);
	  content: "/\00a0";
}

ul.breadcrumb li a {
  	color: rgba(7,22,45,0.5);
  	text-decoration: none;
}

.addressbar{
	padding: 0px;
	font-family: mycontent;
	margin: 0px;
}
.gach{
	margin-top: -10px;
	border: 1px solid rgba(7,22,45,1.00);
	text-align: center;
	padding: 0px;
}
.gach1{
	border: 1px solid rgba(7,22,45,1.00);
	text-align: center;
	width: 80%;
	padding: 0px;
}
.dropdown-menu{
	background-color: none;
}
#mobifilter{
	font-family: myheading;
	font-size: 21pt;
	padding: 0px;
}
#mobifilter p{
	margin: 0px;
}
#mobifilter i{
	float: right;
}
#filter{
	margin-top: 30px;
}
#filter1{
	background-color:rgba(255,255,255,1.00)!important;
}
#filter2{
	background-color:rgba(255,255,255,1.00)!important;
	width: 255px;
}
#filter1 label{
	font-size: 16pt;
}
.pdfilter{
	text-decoration: none;
	color:rgba(255,255,255,1.00);
	background-color: rgba(7,22,45,1.00);
	text-align: center;
	height: 50px;
	padding-top: 10px;
	font-size: 20pt;
}
.nav-item dropdown i{
	padding-left: 20px;
}

/*==test==*/
.accordion {
  background-color:rgba(7,22,45,1.00);
  color: rgba(255,255,255,1.00);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
	padding-left: 10px;
  outline: none;
	font-family: myheading;
  transition: 0.4s;
	margin-bottom: 15px;
}
.accordion i{
	float: right;
	padding-right:10px;
	padding-top: 6.5px;
}
.namebox{
	font-size: 15pt;
	color: rgba(7,22,45,1.00);
	font-family: mycontent;
}
.active, .accordion:hover {
  background-color: rgba(7,22,45,1.00); 
}
/*==test==*/
.panel {
  padding: 0 10px;
  display: none;
  background-color: white;
  overflow: hidden;
}
 .checked {
  color:rgba(183,135,45,1.00)!important;
}
.namebox span{
	color:rgba(7,22,45,0.5);
}
#evaluat{
	font-family: myheading;
	font-size: 23pt;
}
#evaluate{
	font-family: myheading;
	font-size: 23pt;
}
.btcheckk{
	text-align: center;
}
.btcheckk1{
	margin-top: 30px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(183,135,45,1.00);
	height: 50px;
	width: 80%;
	text-align: center;
	font-family: myheading;
	border: 0px;
	font-size: 20pt;
	transition: ease 0.5s;
}
.btcheck{
	text-align: center;
}


#filtermobi{
	position: sticky;
	z-index: 1900;
}
.boxpd{
	width: 100%;
	padding: 10px;
	margin: 0px;
	transition: ease;
}
.boxpd img{
	width: 100%;
	padding-bottom: 15px;
}
.getin{
	font-family: mycontent;
	padding-top: 20px;
	margin: 0px;
}
.namepd{
	font-family: mycontent;
	width: bold;
	margin: 0px;
}
.form{
	font-family: mycontent;
}
.order{
	background-color: rgba(183,135,45,1.00);
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	transition: ease 0.5s;
}
.order a{
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	font-family: myheading;
}
#sotrang{
	padding-left: 0px;
}
.pagination{
	margin-top: 30px;
	text-align: center;
	display: block;
	padding-left: 0px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
} 

.pagination a.active {
  background-color:rgba(7,22,45,1.00);
  color: white;
}





@media(min-width: 1200px){
	.btcheckk1:hover{
	transition: ease 0.5s;
	background-color: rgba(7,22,45,1.00);
	}
	.boxproduct1{
		padding-left: 0px;
		margin-top: 30px;
	}
	.getin{
		font-size: 18pt;
	}
	.namepd{
		font-size: 15pt;
	}
	.form{
		font-size: 18pt;
	}
	.form strong{
		font-size: 21pt;
	}
	.order a{
		font-size: 18pt;
	}
	.order:hover{
		transition: ease 0.5s;
		background-color: rgba(7,22,45,1.00);
	}
	.boxpd:hover{
		transition: ease;
		border: 2px solid rgba(7,22,45,1.00);
	}
	.accordion{
		font-size: 18pt;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.pagination a:hover:not(.active) {background-color: #ddd;}
}

@media(min-width: 992px) and (max-width: 1199px){
	.btcheckk1:hover{
	transition: ease 0.5s;
	background-color: rgba(7,22,45,1.00);
	}
	.boxproduct1{
		padding-left: 0px;
		margin-top: 30px;
	}
	.getin{
		font-size: 18pt;
	}
	.namepd{
		font-size: 16pt;
	}
	.form{
		font-size: 19pt;
	}
	.form strong{
		font-size: 22pt;
	}
	.order a{
		font-size: 19pt;
	}
	.order:hover{
		transition: ease 0.5s;
		background-color: rgba(7,22,45,1.00);
	}
	.boxpd:hover{
		transition: ease;
		border: 2px solid rgba(7,22,45,1.00);
	}
	.accordion{
		font-size: 18pt;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.pagination a:hover:not(.active) {background-color: #ddd;}
}

@media(min-width:768px) and (max-width: 991px){
	.boxproduct1{
		padding-left: 0px;
		margin-top: 20px;
	}
	.getin{
		font-size: 18pt;
	}
	.namepd{
		font-size: 17pt;
	}
	.form{
		font-size: 20pt;
	}
	.form strong{
		font-size: 23pt;
	}
	.order a{
		font-size: 20pt;
	}
	.accordion{
		font-size: 19pt;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}

@media(min-width: 576px) and (max-width:767px){
	.boxproduct{
	padding-left: 0px;
	}
	.boxproduct1{
		padding-right: 0px;
		margin-top: 15px;
	}
	.namebox{
	font-size: 18pt;
	}
	.getin{
		font-size: 18pt;
	}
	.namepd{
		font-size: 18pt;
	}
	.form{
		font-size: 20pt;
	}
	.form strong{
		font-size: 23pt;
	}
	.order a{
		font-size: 20pt;
	}
	.accordion{
		font-size: 20pt;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}
@media(max-width: 575px){
	.boxproduct{
	padding-left: 0px;
	}
	.boxproduct1{
		padding-right: 0px;
		margin-top: 15px;
	}
	.namebox{
	font-size: 18pt;
	}
	.getin{
		font-size: 18pt;
	}
	.namepd{
		font-size: 18pt;
	}
	.form{
		font-size: 20pt;
	}
	.form strong{
		font-size: 25pt;
	}
	.order a{
		font-size: 20pt;
	}
	.accordion{
		font-size: 20pt;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}